Microsoft.Flow/flows/9198c1fb-74c6-4291-9adb-463aa7800eae/definition.json
{"name":"23de6e7a-7fd3-4e01-9a47-3e36725b4a37","id":"/providers/Microsoft.Flow/flows/23de6e7a-7fd3-4e01-9a47-3e36725b4a37","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Azure AD -  App Registration Secrets And Certificates Expiration Notifier","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"098c78da-871e-456b-94fb-f1dfe24deac4","type":"User","tenantId":"b1a6616c-9473-4cab-82b6-b6affeed3e12"},"provisioningMethod":"FromDefinition","failureAlertSubscription":false,"clientLastModifiedTime":"2022-04-03T15:34:43.5547143Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence_-_Trigger_every_month":{"recurrence":{"frequency":"Month","interval":1,"timeZone":"W. Europe Standard Time","startTime":"2025-01-01T00:00:00Z"},"metadata":{"operationMetadataId":"ad48202c-ab78-427e-90c4-c9bc0cf64123"},"type":"Recurrence"}},"actions":{"Initialize_variable_-_varFlowConfig":{"runAfter":{},"metadata":{"operationMetadataId":"f13a4e9f-dbad-408b-bcc1-15e80e59da85"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFlowConfig","type":"object","value":{"NotifyIfExpirationIsWithinTheNextNumberOfDays":31,"TableStyling":{"MarkAsExpiringSoonIfExpirationIsWithinXNumberOfDays":20,"MarkAsExpiringVerySoonIfExpirationIsWithinXNumberOfDays":10},"SendExpirationNotificationTo":"info@cupo365.gg","NotifyObserverInCaseOfErrors":"info@cupo365.gg","AccountFlowRunsOn":"info@cupo365.gg","ImplementationBy":"cup o'365 (info@cupo365.gg)"}}]},"description":"This variable contains configuration for parameters used within the flow's main execution and catch scopes. Please be considerate and only alter these configuration values if you know what you're doing and what the impact on the flow is."},"Initialize_variable_-_varErrorDetails":{"runAfter":{"Initialize_variable_-_varExpiringApplicationCredentialsHtml":["Succeeded"]},"metadata":{"operationMetadataId":"4a3a81c5-90d1-4c15-b49c-1442a620dc73"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varErrorDetails","type":"string"}]},"description":"Container to catch and store errors."},"Scope_-_Try":{"actions":{"Scope_-_Prepare":{"actions":{"Parse_JSON_-_Create_object_from_varFlowConfig":{"runAfter":{},"metadata":{"operationMetadataId":"0e614bda-7fc2-4fd8-ab53-fe0870655646"},"type":"ParseJson","inputs":{"content":"@variables('varFlowConfig')","schema":{"type":"object","properties":{"NotifyIfExpirationIsWithinTheNextNumberOfDays":{"type":"integer"},"TableStyling":{"type":"object","properties":{"MarkAsExpiringSoonIfExpirationIsWithinXNumberOfDays":{"type":"integer"},"MarkAsExpiringVerySoonIfExpirationIsWithinXNumberOfDays":{"type":"integer"}}},"SendExpirationNotificationTo":{"type":"string"},"NotifyObserverInCaseOfErrors":{"type":"string"},"AccountFlowRunsOn":{"type":"string"},"ImplementationBy":{"type":"string"}}}},"description":"By parsing the variable, the key-value pairs within object will be easier to use in the remainder of the flow. Note that if the structure of the variable object changes, those changes should be reflected in this action as well."},"Get_future_time_-_Calculate_max_expiration_date_for_notification":{"runAfter":{"Parse_JSON_-_Create_object_from_varTenants":["Succeeded"]},"metadata":{"operationMetadataId":"0aece674-fadc-41fd-b6c3-53c951c24191"},"type":"Expression","kind":"GetFutureTime","inputs":{"interval":"@body('Parse_JSON_-_Create_object_from_varFlowConfig')?['NotifyIfExpirationIsWithinTheNextNumberOfDays']","timeUnit":"Day"}},"Parse_JSON_-_Create_object_from_varTenants":{"runAfter":{"Parse_JSON_-_Create_object_from_varFlowConfig":["Succeeded"]},"metadata":{"operationMetadataId":"3ed956f6-e7e9-46d0-be8b-219ff303ed53"},"type":"ParseJson","inputs":{"content":"@variables('varTenants')","schema":{"type":"array","items":{"type":"object","properties":{"TenantId":{"type":"string"},"ClientId":{"type":"string"},"ClientSecret":{"type":"string"}},"required":["TenantId","ClientId","ClientSecret"]}}}}},"runAfter":{},"metadata":{"operationMetadataId":"14f5419e-3e04-487d-a51e-5b968fc079f4"},"type":"Scope"},"Terminate_-_Flow_has_succeeded":{"runAfter":{"Apply_to_each_-_Configured_tenant":["Succeeded"]},"metadata":{"operationMetadataId":"177e8e88-3280-4397-be48-287fc84bbc03"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Apply_to_each_-_Configured_tenant":{"foreach":"@body('Parse_JSON_-_Create_object_from_varTenants')","actions":{"Scope_-_Fetch_access_token":{"actions":{"HTTP_-_Request_access_token":{"runAfter":{},"metadata":{"operationMetadataId":"a916b412-aa6e-443b-b57e-3f1a50719682"},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/@{items('Apply_to_each_-_Configured_tenant')['TenantId']}/oauth2/v2.0/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{items('Apply_to_each_-_Configured_tenant')['ClientId']}&scope=https://graph.microsoft.com/.default&client_secret=@{items('Apply_to_each_-_Configured_tenant')['ClientSecret']}&grant_type=client_credentials"}},"Parse_JSON_-_Fetch_token_info":{"runAfter":{"HTTP_-_Request_access_token":["Succeeded"]},"metadata":{"operationMetadataId":"8a3dcc25-de79-4639-9989-94a7f21491dc"},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Request_access_token')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"integer"},"ext_expires_in":{"type":"integer"},"access_token":{"type":"string"}}}}}},"runAfter":{},"metadata":{"operationMetadataId":"413e48aa-2e80-46b3-bead-6b4a0348d88f"},"type":"Scope"},"Do_until_-_Get_all_Azure_AD_applications":{"actions":{"HTTP_-_Get_Azure_AD_applications":{"runAfter":{},"metadata":{"operationMetadataId":"99b11764-1ed0-4888-84a7-75586f430478"},"type":"Http","inputs":{"method":"GET","uri":"@variables('varNextLink')","authentication":{"type":"Raw","value":"Bearer @{body('Parse_JSON_-_Fetch_token_info')?['access_token']}"}}},"Parse_JSON_-_Create_object_of_response":{"runAfter":{"HTTP_-_Get_Azure_AD_applications":["Succeeded"]},"metadata":{"operationMetadataId":"89a41ee1-795d-4417-a5d4-e0df15315327"},"type":"ParseJson","inputs":{"content":"@body('HTTP_-_Get_Azure_AD_applications')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"appId":{"type":"string"},"displayName":{"type":"string"},"passwordCredentials":{"type":"array","items":{"type":"object","properties":{"customKeyIdentifier":{},"displayName":{},"endDateTime":{},"hint":{},"keyId":{},"secretText":{},"startDateTime":{}},"required":[]}},"keyCredentials":{"type":"array","items":{"type":"object","properties":{"customKeyIdentifier":{},"displayName":{},"endDateTime":{},"key":{},"keyId":{},"startDateTime":{},"type":{},"usage":{}},"required":[]}}},"required":[]}},"@@odata.nextLink":{"type":"string"}}}},"description":"Parse the properties from the returned body of the API call."},"Apply_to_each_-_Azure_AD_application":{"foreach":"@body('Parse_JSON_-_Create_object_of_response')?['value']","actions":{"Apply_to_each_-_Application_key_credential":{"foreach":"@items('Apply_to_each_-_Azure_AD_application')?['keyCredentials']","actions":{"Condition_-_If_expiration_date_falls_within_the_configured_notification_days_2":{"actions":{"Compose_-_Calculate_days_until_expiration_2":{"runAfter":{},"metadata":{"operationMetadataId":"340a0fc4-80f8-4759-85f1-70e2ecd7a839"},"type":"Compose","inputs":"@div(div(div(mul(sub(ticks(items('Apply_to_each_-_Application_key_credential')?['endDateTime']), ticks(utcnow())), 100), 1000000000), 3600), 24)","description":"div(div(div(mul(sub(ticks(items('Apply_to_each_-_Application_key_credential')?['endDateTime']), ticks(utcnow())), 100), 1000000000), 3600), 24)"},"Append_to_string_variable_-_varExpiringApplicationCredentialsHtml_2":{"runAfter":{"Compose_-_Calculate_days_until_expiration_2":["Succeeded"]},"metadata":{"operationMetadataId":"c489f2ea-e5e2-4d48-b32a-919ccb765288"},"type":"AppendToStringVariable","inputs":{"name":"varExpiringApplicationCredentialsHtml","value":"<tr><td @{variables('varHtmlStyling').cellStyle}><a href=\"https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Credentials/appId/@{items('Apply_to_each_-_Azure_AD_application')?['appId']}/isMSAApp/\">@{items('Apply_to_each_-_Azure_AD_application')?['appId']}</a></td><td @{variables('varHtmlStyling').cellStyle}>@{items('Apply_to_each_-_Azure_AD_application')['displayName']}</td><td @{if(less(outputs('Compose_-_Calculate_days_until_expiration_2'), body('Parse_JSON_-_Create_object_from_varFlowConfig')?['TableStyling']?['MarkAsExpiringVerySoonIfExpirationIsWithinXNumberOfDays']), variables('varHtmlStyling').redStyle, if(less(outputs('Compose_-_Calculate_days_until_expiration_2'), body('Parse_JSON_-_Create_object_from_varFlowConfig')?['TableStyling']?['MarkAsExpiringSoonIfExpirationIsWithinXNumberOfDays']), variables('varHtmlStyling').yellowStyle, variables('varHtmlStyling').cellStyle))}> @{outputs('Compose_-_Calculate_days_until_expiration_2')}</td><td @{variables('varHtmlStyling').cellStyle}>Secret</td><td @{variables('varHtmlStyling').cellStyle}>@{formatDateTime(items('Apply_to_each_-_Application_key_credential')?['endDateTime'], 'HH:mm dd/MM/yyyy')}</td><td @{variables('varHtmlStyling').cellStyle}>@{if(equals(outputs('HTTP_-_Get_application_owner')['statusCode'], 200), if(greater(length(outputs('HTTP_-_Get_application_owner')?['body/value']), 0), outputs('HTTP_-_Get_application_owner')?['body/value'][0]?['UserPrincipalName'], 'Geen eigenaar'), 'Geen eigenaar')}</td></tr>"}}},"runAfter":{},"expression":{"greaterOrEquals":["@body('Get_future_time_-_Calculate_max_expiration_date_for_notification')","@items('Apply_to_each_-_Application_key_credential')?['endDateTime']"]},"metadata":{"operationMetadataId":"32469883-ebee-4544-9efc-45df5fac4d19"},"type":"If"}},"runAfter":{"Apply_to_each_-_Application_password_credential":["Succeeded"]},"metadata":{"operationMetadataId":"35f4021a-2faf-44d9-b54a-d959acb06d9c"},"type":"Foreach"},"HTTP_-_Get_application_owner":{"runAfter":{},"metadata":{"operationMetadataId":"858eb964-2c31-4ec4-9208-b86897a18397"},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/v1.0/applications/@{items('Apply_to_each_-_Azure_AD_application')?['appId']}/owners ","headers":{"Authorization":"Bearer @{body('Parse_JSON_-_Fetch_token_info')?['access_token']}"}}},"Apply_to_each_-_Application_password_credential":{"foreach":"@items('Apply_to_each_-_Azure_AD_application')?['passwordCredentials']","actions":{"Condition_-_If_expiration_date_falls_within_the_configured_notification_days":{"actions":{"Compose_-_Calculate_days_until_expiration":{"runAfter":{},"metadata":{"operationMetadataId":"399f938c-42fa-4680-9217-ce47efdbbe19"},"type":"Compose","inputs":"@div(div(div(mul(sub(ticks(items('Apply_to_each_-_Application_password_credential')?['endDateTime']),ticks(utcnow())),100),1000000000), 3600), 24)","description":"div(div(div(mul(sub(ticks(items('Apply_to_each_-_Application_password_credential')?['endDateTime']),ticks(utcnow())),100),1000000000), 3600), 24)"},"Append_to_string_variable_-_varExpiringApplicationCredentialsHtml":{"runAfter":{"Compose_-_Calculate_days_until_expiration":["Succeeded"]},"metadata":{"operationMetadataId":"d84c7fb4-cdbc-46f5-8dcd-50af882eb15d"},"type":"AppendToStringVariable","inputs":{"name":"varExpiringApplicationCredentialsHtml","value":"<tr><td @{variables('varHtmlStyling').cellStyle}><a href=\"https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/Credentials/appId/@{items('Apply_to_each_-_Azure_AD_application')?['appId']}/isMSAApp/\">@{items('Apply_to_each_-_Azure_AD_application')?['appId']}</a></td><td @{variables('varHtmlStyling').cellStyle}>@{items('Apply_to_each_-_Azure_AD_application')['displayName']}</td><td @{if(less(outputs('Compose_-_Calculate_days_until_expiration'), body('Parse_JSON_-_Create_object_from_varFlowConfig')?['TableStyling']?['MarkAsExpiringVerySoonIfExpirationIsWithinXNumberOfDays']), variables('varHtmlStyling').redStyle, if(less(outputs('Compose_-_Calculate_days_until_expiration'), body('Parse_JSON_-_Create_object_from_varFlowConfig')?['TableStyling']?['MarkAsExpiringSoonIfExpirationIsWithinXNumberOfDays']), variables('varHtmlStyling').yellowStyle, variables('varHtmlStyling').cellStyle))}> @{outputs('Compose_-_Calculate_days_until_expiration')}</td><td @{variables('varHtmlStyling').cellStyle}>Secret</td><td @{variables('varHtmlStyling').cellStyle}>@{formatDateTime(items('Apply_to_each_-_Application_password_credential')?['endDateTime'], 'HH:mm dd/MM/yyyy')}</td><td @{variables('varHtmlStyling').cellStyle}>@{if(equals(outputs('HTTP_-_Get_application_owner')['statusCode'], 200), if(greater(length(outputs('HTTP_-_Get_application_owner')?['body/value']), 0), outputs('HTTP_-_Get_application_owner')?['body/value'][0]?['UserPrincipalName'], 'Geen eigenaar'), 'Geen eigenaar')}</td></tr>"}}},"runAfter":{},"expression":{"greaterOrEquals":["@body('Get_future_time_-_Calculate_max_expiration_date_for_notification')","@items('Apply_to_each_-_Application_password_credential')?['endDateTime']"]},"metadata":{"operationMetadataId":"f76426ac-7648-4f73-ba3c-0e4f4f0152e7"},"type":"If"}},"runAfter":{"HTTP_-_Get_application_owner":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"bd79fd5f-a7ac-48a6-abc9-d0728874b470"},"type":"Foreach"}},"runAfter":{"Parse_JSON_-_Create_object_of_response":["Succeeded"]},"metadata":{"operationMetadataId":"6850ff46-7ab1-45c1-af8d-bae85c2c61aa"},"type":"Foreach"},"Set_variable_-_varNextLink":{"runAfter":{"Apply_to_each_-_Azure_AD_application":["Succeeded"]},"metadata":{"operationMetadataId":"a76cdbd6-c535-47c9-8fa1-4cef5f172458"},"type":"SetVariable","inputs":{"name":"varNextLink","value":"@body('Parse_JSON_-_Create_object_of_response')?['@odata.nextLink']"},"description":"When the API call retrieves all the applications in existence, there is no @odata.nextlink property.  If there are more applications to retrieve, the nextlink property will store a URL containing the link to the next page of applications to retrieve."}},"runAfter":{"Scope_-_Fetch_access_token":["Succeeded"]},"expression":"@empty(variables('varNextLink'))","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"c86a294f-f97b-47db-8a7b-db16bf205a6d"},"type":"Until"},"Append_to_string_variable_-_varExpiringApplicationCredentialsHtml_3":{"runAfter":{"Do_until_-_Get_all_Azure_AD_applications":["Succeeded"]},"metadata":{"operationMetadataId":"a4458077-3ae0-4aec-a828-f72fefb9f29f"},"type":"AppendToStringVariable","inputs":{"name":"varExpiringApplicationCredentialsHtml","value":"<tbody></table>"},"description":"Close table HTML"},"Send_an_email_(V2)_-_Notify_configured_entity_of_results":{"runAfter":{"Append_to_string_variable_-_varExpiringApplicationCredentialsHtml_3":["Succeeded"]},"metadata":{"operationMetadataId":"4d38c6c9-4f16-487a-99f5-d079d6690193"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@body('Parse_JSON_-_Create_object_from_varFlowConfig')?['SendExpirationNotificationTo']","emailMessage/Subject":"Client Secrets expiring in the next @{string(body('Parse_JSON_-_Create_object_from_varFlowConfig')?['NotifyIfExpirationIsWithinTheNextNumberOfDays'])} days","emailMessage/Body":"@variables('varExpiringApplicationCredentialsHtml')","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Scope_-_Prepare":["Succeeded"]},"metadata":{"operationMetadataId":"a4205dc0-ba79-4dbb-b63d-5377585cf2f3"},"type":"Foreach"}},"runAfter":{"Initialize_variable_-_varErrorDetails":["Succeeded"]},"metadata":{"operationMetadataId":"2dc8b114-0e7f-47f6-bcd0-a14b0e625945"},"type":"Scope","description":"Main flow execution scope."},"Scope_-_Catch":{"actions":{"Filter_array_-_Results_of_Try_scope":{"runAfter":{},"metadata":{"operationMetadataId":"5a0e72c7-50c0-4088-bc9c-c1ff7ce112f4"},"type":"Query","inputs":{"from":"@result('Scope_-_Try')","where":"@contains(createArray('Failed', 'TimedOut'), item()['status'])"},"description":"Filter the results of the flow's main execution scope (try)."},"Apply_to_each_-_Log_error":{"foreach":"@body('Filter_array_-_Results_of_Try_scope')","actions":{"Append_to_string_variable_-_varErrorDetails":{"runAfter":{},"metadata":{"operationMetadataId":"ad1e63f0-44ab-4817-bbe1-63bddcf62a65"},"type":"AppendToStringVariable","inputs":{"name":"varErrorDetails","value":"Action: @{items('Apply_to_each_-_Log_error')['name']}, Status: @{items('Apply_to_each_-_Log_error')['status']}, Code: @{items('Apply_to_each_-_Log_error')['code']}. "}}},"runAfter":{"Filter_array_-_Results_of_Try_scope":["Succeeded"]},"metadata":{"operationMetadataId":"6bebabde-e817-4f6a-9fe1-a5ddbb2f7c5c"},"type":"Foreach"},"Condition_-_If_an_observer_was_configured":{"actions":{"Send_an_email_(V2)_-_Notify_observer":{"runAfter":{},"metadata":{"operationMetadataId":"3a21ea31-e16a-437b-b705-e8f6facbfc0e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@body('Parse_JSON_-_Create_object_from_varFlowConfig')?['NotifyObserverInCaseOfErrors']","emailMessage/Subject":"An error occurred in workflow '@{workflow()['tags']['flowDisplayName']}'","emailMessage/Body":"<p><strong>Account</strong><br>\n@{body('Parse_JSON_-_Create_object_from_varFlowConfig')?['AccountFlowRunsOn']}<br>\n<br>\n<strong>Flow</strong><br>\n@{workflow()['tags']['flowDisplayName']}<br>\n<br>\n<strong>Environment</strong><br>\n@{workflow()['tags']['environmentName']}<br>\n<br>\n<strong>Implementation by</strong><br>\n@{body('Parse_JSON_-_Create_object_from_varFlowConfig')?['ImplementationBy']}<br>\n<br>\n<strong>Link to flow run</strong><br>\n@{concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}<br>\n<br>\n<strong>Error</strong><br>\n@{variables('varErrorDetails')}</p>","emailMessage/Bcc":"@body('Parse_JSON_-_Create_object_from_varFlowConfig')?['AccountFlowRunsOn']","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"},"description":"This email will notify a configured observer of the error the flow encountered during its execution. A blind carbon copy is also sent to the configured account the flow runs on."}},"runAfter":{"Apply_to_each_-_Log_error":["Succeeded"]},"expression":{"equals":["@empty(body('Parse_JSON_-_Create_object_from_varFlowConfig')?['NotifyObserverInCaseOfErrors'])","@false"]},"metadata":{"operationMetadataId":"ac0315fe-fcf0-4a50-bb3d-eec48cd12afc"},"type":"If"}},"runAfter":{"Scope_-_Try":["TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"1a196513-fb24-4ff5-ad73-761f8cd3487c"},"type":"Scope","description":"Flow execution scope in case of an (unexpected) error in one of the actions in the Try scope."},"Scope_-_Finally":{"actions":{"Terminate_-_Flow_has_failed":{"runAfter":{},"metadata":{"operationMetadataId":"b4fea7f3-1e8e-4096-8782-9539fafae29b"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"424","message":"Failed dependency"}}}},"runAfter":{"Scope_-_Catch":["Succeeded","Failed","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"777d2f09-f188-4414-9ca5-7fa3a2963c18"},"type":"Scope","description":"In case of an error, terminate the flow with 'failed'. The action is wrapped inside its own scope, since actions in the Catch scope potentially could go wrong. This allows for a 'controlled' termination of the flow in all cases."},"Initialize_variable_-_varNextLink":{"runAfter":{"Initialize_variable_-_varTenants":["Succeeded"]},"metadata":{"operationMetadataId":"b181df01-0c6c-4481-897e-b94ccf3d0051"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNextLink","type":"string","value":"https://graph.microsoft.com/v1.0/applications?$select=appId,displayName,passwordCredentials,keyCredentials&$top=999"}]},"description":"The graph API URI to request the list of AAD applications. The $select only returns the necessary attributes and since graph API calls are limited to 100 rows at a time, the $top is set to 999 so it uses less requests (1 per 1000 apps vs 10 per 1000)"},"Initialize_variable_-_varExpiringApplicationCredentialsHtml":{"runAfter":{"Initialize_variable_-_varHtmlStyling":["Succeeded"]},"metadata":{"operationMetadataId":"d341c3a1-8b20-4428-9616-9a241f13f64c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varExpiringApplicationCredentialsHtml","type":"string","value":"<table @{variables('varHtmlStyling').tableStyle}><thead><th @{variables('varHtmlStyling').headerStyle}>Application ID</th><th @{variables('varHtmlStyling').headerStyle}>Display name</th><th @{variables('varHtmlStyling').headerStyle}>Days until expiration</th><th @{variables('varHtmlStyling').headerStyle}>Type</th><th @{variables('varHtmlStyling').headerStyle}>Expiration date</th><th @{variables('varHtmlStyling').headerStyle}>Owner</th></thead><tbody>"}]}},"Initialize_variable_-_varHtmlStyling":{"runAfter":{"Initialize_variable_-_varNextLink":["Succeeded"]},"metadata":{"operationMetadataId":"36a6b457-f932-460a-96aa-bde2708ffe63"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHtmlStyling","type":"object","value":{"tableStyle":"style=\"border-collapse: collapse;\"","headerStyle":"style=\"font-family: Helvetica; padding: 5px; border: 1px solid black;\"","cellStyle":"style=\"font-family: Calibri; padding: 5px; border: 1px solid black;\"","redStyle":"style=\"background-color:red; font-family: Calibri; padding: 5px; border: 1px solid black;\"","yellowStyle":"style=\"background-color:yellow; font-family: Calibri; padding: 5px; border: 1px solid black;\""}}]},"description":"Some CSS styling to highlight Azure AD app secrets and expirations that are going to expire in 30 days (yellow) vs 15 days (red). "},"Initialize_variable_-_varTenants":{"runAfter":{"Initialize_variable_-_varFlowConfig":["Succeeded"]},"metadata":{"operationMetadataId":"cdb70b32-2552-4c74-be54-f7d59aa6b6ef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTenants","type":"array","value":[{"TenantId":"","ClientId":"","ClientSecret":""}]}]},"description":"Create (or use an existing) Azure AD app registration that has ONE of the following Microsoft Graph Application type (not Delegated) Permissions -  Application.Read.All, Application.ReadWrite.All, Directory.Read.All, or Directory.AccessAsUser.All"}},"outputs":{},"description":"This flow is triggered periodically and fetches all applications with password or key credentials using a configured managed identity. Every application credential is evaluated against a configured number of days until expiration. If the application credential is about to expire, an HTML table row is composed. Finally, the flow will send an email to a configured entity with the complete table of all application credentials that are about the expire. Multi-tenant checks are supported. This flow contains error handling."},"connectionReferences":{"shared_office365":{"connectionName":"bdf2d12452a64b3ea5b32c9acbeacc65","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}